

<form #myForm="ngForm" (ngSubmit)="AddData(myForm)" >
  <legend>Register</legend>

  <div class="form-group">
    <label for="no">No</label>
    <input ngModel type="text" class="form-control" id="no" name="v_no">
  </div>

  <div class="form-group">
    <label for="name">Name</label>
    <input ngModel type="text" class="form-control" id="name" name="v_name">
  </div>
  <div class="form-group">
    <label for="company">company</label>
    <input ngModel type="text" class="form-control" id="company" name="company">
  </div>
  <div class="form-group">
    <label for="type">type</label>
    <input ngModel type="text" class="form-control" id="type" name="type">
  </div>
  <div class="form-group">
    <label for="price">price</label>
    <input ngModel type="text" class="form-control" id="price" name="price">
  </div>
  <div class="form-group">
    <label for="description">Description</label>
    <input ngModel type="text" class="form-control" id="description" name="description">
  </div>


  <button type="submit" class="btn btn-primary">Add</button>
</form>
